@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@700;300;500&display=swap');

/* Hero Banner */

.hero-banner {
    margin: 7em;
    padding: 7em;
}

.hero-banner__logo-name {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 48px;
}

/* end of Hero Banner */

/* About */
.about-section {
    background-color: rgb(255, 255, 255, .9);
    margin: 7em;
    padding-top: 5em;
}

.about__heading {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 48px;
}

.about-container__first-row.flex {
    padding: 30px 0px 30px 30px;
}

.about-container__second-row.flex {
    padding: 30px 0px 30px 30px;
}

.about-container__second-column.flex {
    padding: 0px 0px 30px 0px;
}


// first column 

.about-container__first-row-col1 {
    width: 50%;
    padding-right: 5em;
    padding-left: 50px;

}

.about__first-row-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 35px;
}

.about__first-row-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.about-container__first-row-col2 {
    width: 50%;
}

img.about__first-row-image {
    width: 100%;
}

// end of first column

// second column

.about-container__second-row-col1 {
    width: 50%;
}

.about__second-row-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 35px;
}

.about__second-row-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.about-container__second-row-col2 {
    width: 50%;
    padding-right: 50px;
    padding-left: 5em;
}

img.about__second-row-image {
    width: 100%;
}


// end of second column

// third column

.about-container__third-row-col1 {
    width: 50%;
    padding-right: 5em;
    padding-left: 50px;
}

.about__third-row-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 35px;
}

.about__third-row-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.about-container__third-row-col2 {
    width: 50%;
}

img.about__third-row-image {
    width: 100%;
}


// end of third column

/* Review */

.review {
    text-align: center;
}

.review__head {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 43px;
}

.review__sub-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.review__card {
    display: flex;
    background-color: #F2F2F2;
    padding: 50px;
}

.review__card-one {
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 50%;
}

.review__card-two {
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 50%;
}

.review__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 60%
}

.review__picture {
    grid-area: 1 / 1 / 3 / 2;
}

.review__name {
    grid-area: 1 / 2 / 2 / 4;
}

.review__description {
    grid-area: 2 / 2 / 3 / 4;
}

.review__col1 {
    width: 10%;
}

p.review__comment {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

p.review-name {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: left;
}

p.review-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 29px;
    text-align: left;
}

.review__col2 {
    width: 90%;
    padding-left: 20px;
}

.review__name-container {
    height: 30px;
}

/* end of Review */
/* end of About */

/* Gallery */

.gallery-section {
    text-align: center;
    color: white;
    margin: 7em;
}

.gallery__head {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 42px;
}

.gallery__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.gallery__collage {
    width: 100%;
    padding-top: 30px;
    flex-wrap: wrap;
}

.gallery__image1 {
    width: 20%;
}

.gallery__image2 {
    width: 20%;
}

.gallery__image3 {
    width: 20%;
}

.gallery__image4 {
    width: 20%;
}

.gallery__image5 {
    width: 20%;
}

.galleryimg1 {
    width: 100%;
}

.galleryimg1 {
    width: 100%;
}

.galleryimg2 {
    width: 100%;
}

.galleryimg3 {
    width: 100%;
}

.galleryimg4 {
    width: 100%;
}

.galleryimg5 {
    width: 100%;
}

/* end of Gallery */

/* Map */

.map {
    margin: 7em;
}

/* end of Map */


// --------------------------------------------------------------------------------------------------------//
//                                          SCREEN SIZE FOR TABLET  (768px)                                //
// --------------------------------------------------------------------------------------------------------//

@media only screen and (max-width: 768px) {

    /* Hero Banner */

    .hero-banner {
        padding: 0px;
    }

    /* end of Hero Banner */

    /* About */

    .about-section {
        padding-top: 2em;
    }

    .about__heading {
        font-size: 35px;
        padding: 20px 0 20px 0;
    }

    .about-container__second-column.flex {
        flex-direction: column;
        padding: 0px 0px 30px 0px;
    }

    .about-container__third-column.flex {
        flex-direction: column-reverse;
    }

    .about-container__first-row.flex {
        flex-direction: column-reverse;
        padding: 0px;
    }


    // first column 

    .about-container__first-row-col1 {
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .about__first-row-description {
        padding: 0px 20px 20px 20px;
    }

    .about__first-row-title {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 35px;
        padding-top: 20px;
    }

    .about__first-row-description {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 30px;
    }

    .about-container__first-row-col2 {
        width: 100%;
    }

    img.about__first-row-image {
        width: 100%;
    }

    // end of first column

    // second column 

    .about-container__second-row-col1 {
        width: 100%;
    }

    .about-container__second-row-col2 {
        width: 100%;
        padding: 0px;
        text-align: center;
    }

    .about__second-row-title {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 35px;
        padding-top: 20px;
    }

    .about__second-row-description {
        padding: 0px 20px 20px 20px;
    }

    // end of second column

    // third column
    .about-container__third-row-col1 {
        width: 100%;
        padding: 0px;
        text-align: center;
    }

    .about-container__third-row-col2 {
        width: 100%;
    }

    .about__third-row-title {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 35px;
        padding-top: 20px;
    }

    .about__third-row-description {
        padding: 0px 20px 20px 20px;
    }

    //end of third column

    /* end of About */

    /* Review */

    .review__card {
        display: flex;
        flex-direction: column;
        padding: 0px;
        row-gap: 20px;
    }

    .review {
        padding: 20px;
    }

    .review__col2 {
        width: 50%;
    }

    .review__card-one {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .review__card-two {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .review__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.review__comment {
        text-align: center;
        padding: 20px;
    }

    .review__card-two {
        width: 100%;
    }

    /* end of Review */

    /* Gallery */

    .gallery__image1 {
        width: 50%;
    }

    .gallery__image2 {
        width: 50%;
    }

    .gallery__image3 {
        width: 50%;
    }

    .gallery__image4 {
        width: 50%;
    }

    .gallery__image5 {
        width: 50%;
    }

    .galleryimg1 {
        width: 50%;
    }

    .galleryimg1 {
        width: 100%;
    }

    .galleryimg2 {
        width: 100%;
    }

    .galleryimg3 {
        width: 100%;
    }

    .galleryimg4 {
        width: 100%;
    }

    .galleryimg5 {
        width: 100%;
    }

    /* end of Gallery */

}

// --------------------------------------------------------------------------------------------------------//
//                                          SCREEN SIZE FOR TABLET  (425px)                                //
// --------------------------------------------------------------------------------------------------------//

@media only screen and (max-width: 425px) {

    /* Hero */

    .hero-banner {
        margin: 2em;
    }

    .hero-banner__logo-name {
        text-align: center;
    }

    /* end of Hero */

    /* about */

    .about-section {
        margin: 2em;
    }

    .about__heading {
        text-align: center;
    }

    /* review section */

    .review__container {
        width: 100%;
    }

    .review__col1 {
        width: 40%;
    }

    .review__col2 {
        width: 100%;
    }

    /* end of review section */

    /* gallery section */

    .gallery-section {
        margin: 2em;
    }

    /* end of gallery section */

    /* map section */

    .map {
        margin: 2em;
        text-align: center;
    }

    /* end of map section */

    /* end of about */


}